<div class="container-fluid-side">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: inherit;">
    <div class="middle center">
      <!-- <hr><hr> -->
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item ">
          <a href="#" class="nav-link active" aria-current="page">
            <i class=" dsh fa-solid fa-gauge-simple-high"></i> Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-chart-simple"></i> Analytics
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white"> <i class="fa-solid fa-cube"></i>
            E-commerce    
            <i class="dwn fa-solid fa-angle-down"></i>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-people-group"></i>
            Team
            <i class="dwn fa-solid fa-angle-down">     </i>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-wand-sparkles"></i>
            Campaigns
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-comments"></i>
            Messages
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-clipboard"></i>
            Tasks
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-download"></i>
            Inbox
          </a>
        </li>
        <li>
          <a href="calender" class="nav-link text-white">
            <i class="fa-solid fa-calendar"></i>
            Calendar
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white"><i class="fa-solid fa-gears"></i>
            Setting
            <i class="dwn fa-solid fa-angle-down"></i>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white"><i class="fa-solid fa-object-ungroup"></i>
            Utility
            <i class="dwn fa-solid fa-angle-down"></i> </a>
        </li>
        <hr>
        <li>
          <a href="#" class="nav-link text-white"> <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Authentication
            <i class="dwn fa-solid fa-angle-down"></i> </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white"><i class="fa-solid fa-object-group"></i>
            Onborading
            <i class="dwn fa-solid fa-angle-down"></i> </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white"><i class="fa-solid fa-circle"></i>


            Components
            <i class="dwn fa-solid fa-angle-down"></i>
          </a>
        </li>


      </ul>

      <hr>
      
    </div><img class="logo" src="assets/img/footer.png" alt="">
  </div>
</div>