<div class="ana"><app-mainbar></app-mainbar>
  <div class="container-fluid-form2">
    
    <div class="center side ">
      <select class="form-select slc btn" aria-label="Default select example">
        <option value="Seçiniz" selected>Eşya Tipini Seçiniz</option>
        <option value="vatandas">Ev</option>
        <option value="vatandas">Araç</option>
        <option value="vatandas">Giyisi</option>
      </select>
      <select class="form-select slc btn" aria-label="Default select example">
        <option value="Seçiniz" selected>Eşya Türünü Seçiniz</option>
        <option value="vatandas">Sıfır</option>
        <option value="vatandas">Kullanılmış</option>

      </select>
      <select class="form-select slc btn" aria-label="Default select example">
        <option value="Seçiniz" selected>Eşya Çalışır Durumda Mı?</option>
        <option value="vatandas">Evet</option>
        <option value="vatandas">Hayır</option>
      </select>
      <input class=" center drog  btn " type="file" value="Resim">

      <select class="form-select slc btn" style="margin-top: 10px;" aria-label="Default select example">
        <option value="Seçiniz" selected>Adet</option>
        <option value="vatandas">1</option>
        <option value="vatandas">2</option>
        <option value="vatandas">3</option>
        <option value="vatandas">4</option>
        <option value="vatandas">5</option>
        <option value="vatandas">6</option>
        <option value="vatandas">7</option>
      </select>
      <input class="center inp abc btn " type="text" value="Eşyanın Alınacağı Adres">
      <input class=" center inp abc btn" type="tel" value="Teslim Edecek Kişi Telefon No">
      <br>
      <button class="center slc abc btn bgc" onclick="window.location.href = 'ekle'">Ekle</button>
    </div>
  </div>
</div>