<div class="btn" onchange="window.location.href = 'vatandas'" >
  <select class="form-select slc btn"  aria-label="Default select example" >
    <option value="" disabled selected>Bağış Türünü Seçiniz</option>
    <option *ngFor="let list of liste" value="Bağış Türünü Seçiniz">{{list.txt}}</option>
  </select>
  <!-- <button class="btn dwm" onmousedown="window.location.href = 'vatandas'">Devam</button> -->
  <!--<button class=" slc btn dropdown-toggle " onclick="window.location.href = 'vatandas'" type="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    Başvuru Tipini Seçiniz

  </button>

  <ul class="dropdown-menu">
    <li *ngFor="let list of liste"><a class="dropdown-item" href="#">{{list.txt}}</a></li>
  </ul>-->
</div>
<!-- <div class="btn" onchange="window.location.href = 'vatandas'" ></div> -->
