<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <iframe class="container-fluid-form1 "
    src="https://calendar.google.com/calendar/embed?src=3123f3e2ad51f6f84a0ec994dc735302e9e5319c6c5984a33f4cb52b326495fb%40group.calendar.google.com&ctz=Europe%2FIstanbul"
    style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
</iframe>
</body>
</html>