<div class="ana"> <app-form2></app-form2>
    <div class=" ekran  center">
        <div class="card center crd">
            <img src="assets/img/koltuk.jpg" class="center card-img-top" alt="koltuk">
            <div class="card-body">
                <p class="ctxt card-text">
                    Eşya Tipi: Product.name
                    Eşya Türü:Product.style
                    Adet:Product.num
                    Telefon:Product.tel
                    Adres:Product.adres
                </p>
            </div>
        </div>
        <td></td>
        <td></td>
        <div class=" chk slc form-check tik">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                <a href="Kisise.com">Kişisel verilerin korunması hakkında</a>
            </label>

        </div>
        <td></td>
        <button type="button" class="btn inp  butn  btn-success">Gönder</button>
        <td></td>
        <button type="button" class="btn inp  butn btn-outline-success">Yeni Eşya Ekle</button>
    </div>
</div>